.section-top{
    background-color:#CCF381;
    height: 5rem;
}

.heading{
    color: #CCF381;
}
.text-align{
    padding-top: 1.5rem;
    padding-bottom: 0.5rem;
    text-align: center;
}
}
.section-textbox{
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.button-design{
    background-color: #CCF381;
    border: none;
    padding: 1rem;
    font-family:'Comfortaa','cursive' ;
    height: 4rem;
    width: 15rem;
    
}



.section-bottom{
    height: 15rem;
    background-color: #CCF381;
    padding:1rem,0rem;
}
.text-align1{
    text-align: center;
    padding-top: 0.5rem;
}
.button-align{
    padding-left:8rem;
}

    